# Tarea

Utilizar las funciones de manipulación de datos de la libreria dplyr con una serie de datos climática (usando además la libreria lubridare) de una estación meteorológica de su país.

In [1]:
#librerias
library(dplyr)
library(lubridate)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Attaching package: ‘lubridate’

The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

La Ciudad de México cuenta con un sistema de estaciones de monitoreo ubicadas en diferentes alcaldias. La información de las estaciones es pública y almacena una gran cantidad de años de información en la página (http://www.aire.cdmx.gob.mx/)

In [2]:
#Lectura de los datos
df <- read.csv('fCDMX.csv')
print(head(df))

                 date MER PED SAG TLA XAL FAC UIZ CUA MON TAH COY ACO CHO IZT
1 01/01/1986 01:00:00  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
2 01/01/1986 02:00:00  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
3 01/01/1986 03:00:00  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
4 01/01/1986 04:00:00  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
5 01/01/1986 05:00:00  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
6 01/01/1986 06:00:00  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
  CAM LLA LPR NEZ SJA TLI VIF HGM SFE UAX ATI CUT BJU CCA AJM AJU GAM INN MGH
1  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
2  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
3  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
4  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
5  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
6  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
  MPA TPN SUR AZC CES PLA LAG TAC TAX HAN
1  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
2  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
3  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
4  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
5  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
6  NA  NA  NA  NA  NA  NA  NA  NA  NA  NA

Al descargar el historico de datos, podemos obtener la información de las 43 estaciones de monitoreo, ordenadas en una matriz donde cada fila es una fecha y hora en particular y cada columna es una estación (la primera columna contiene la información de la fecha y la hora)

Uno de los inconvenientes de la serie de datos es la falta de datos en algunos puntos, ya sea por inactividad o por falla del aparato, por ello se pueden encontrar muchos valores NaN. 
Para poder trabajar con estos datos y no tener datos NaN en todos nuestros cálculos vamos a sustituir los valores nulos por ceros

In [8]:
df[is.na(df)] <- 0
print(head(df))

                 date MER PED SAG TLA XAL FAC UIZ CUA MON TAH COY ACO CHO IZT
1 01/01/1986 01:00:00   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2 01/01/1986 02:00:00   0   0   0   0   0   0   0   0   0   0   0   0   0   0
3 01/01/1986 03:00:00   0   0   0   0   0   0   0   0   0   0   0   0   0   0
4 01/01/1986 04:00:00   0   0   0   0   0   0   0   0   0   0   0   0   0   0
5 01/01/1986 05:00:00   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6 01/01/1986 06:00:00   0   0   0   0   0   0   0   0   0   0   0   0   0   0
  CAM LLA LPR NEZ SJA TLI VIF HGM SFE UAX ATI CUT BJU CCA AJM AJU GAM INN MGH
1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
3   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
4   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
5   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
6   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
  MPA TPN SUR AZC CES PLA LAG TAC TAX HAN NaN
1   0   0   0   0   0   0   0   0   0   0   0
2   0   0   0   0   0   0   0   0   0   0   0
3   0   0   0   0   0   0   0   0   0   0   0
4   0   0   0   0   0   0   0   0   0   0   0
5   0   0   0   0   0   0   0   0   0   0   0
6   0   0   0   0   0   0   0   0   0   0   0

In [9]:
print("La clase de cada columna")
for(i in seq_along(df))
{
    print(class(df[1,i]))
}

[1] "La clase de cada columna"
[1] "factor"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"

Como esperaríamos cada columna de datos trabaja con valores numéricos (enteros), sin embargo la primera columna, la del tiempo, es de tipo factor, por lo que transformaremos esa columna a un tipo más conveniente

In [10]:
df['date'] <- df %>% select(date) %>% mutate(date = dmy_hms(as.character(date)))

In [13]:
keys = names(df)

In [ ]:
keys[1]

In [18]:
df2 <- df %>% mutate(year = year(date)) %>%  group_by(year) %>% select(year,'MER','PED','SAG') %>%
summarize(mean_MER=mean(MER),mean_PED=mean(PED),mean_SAG=mean(SAG))

`summarise()` ungrouping output (override with `.groups` argument)

In [28]:
cat("Valores maximos y minimos de MER")
max(df2['mean_MER'])
min(df2['mean_MER'])
cat("Valores maximos y minimos de PED")
max(df2['mean_PED'])
min(df2['mean_PED'])
cat("Valores maximos y minimos de SAG")
max(df2['mean_SAG'])
min(df2['mean_SAG'])

Valores maximos y minimos de MER

[1] 43.52459

[1] 4.482818

Valores maximos y minimos de PED

[1] 56.35365

[1] 15.15789

Valores maximos y minimos de SAG

[1] 40.9226

[1] 0